apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-nats
  labels:
    app: nats
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: nats
  template:
    metadata:
      labels:
        app: nats
    spec:
      containers:
        - name: nats
          image: nats:latest
          ports:
            - containerPort: 4222
            - containerPort: 8222
          env:
            - name: NATS_JETSTREAM_ENABLED
              value: "true"
          volumeMounts:
            - name: nats-data
              mountPath: /data
      volumes:
        - name: nats-data
          emptyDir: {}