services:
  prometheus:
    image: prom/prometheus:latest
    network_mode: host
    ports:
      - 9090:9090
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus-data:/prometheus
    depends_on:
      - cadvisor
    restart: unless-stopped
    develop:
      watch:
        - action: sync+restart
          path: ./prometheus
          target: /etc/prometheus

  grafana:
    image: grafana/grafana-enterprise:latest
    restart: unless-stopped
    network_mode: host
    volumes:
      - grafana-data:/var/lib/grafana
    ports:
      - 9093:3000
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel

  cadvisor:
    image: gcr.io/cadvisor/cadvisor:latest
    network_mode: host
    ports:
      - 9092:8080
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:rw
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro

  #docker-stats-client:
  #build:
  #context: ./docker-stats-client
  #dockerfile: Dockerfile
  #restart: unless-stopped
  #ports:
  #- 9093:9091
  #develop:
  #watch:
  #- action: rebuild
  #path: ./docker-stats-client
  #ignore:
  #- ./docker-stats-client/target

volumes:
  prometheus-data:
  grafana-data:

networks:
  host:
    external: true
