services:
  app:
    build:
      context: .
    environment:
      NODE_ENV: development
    ports:
      - 5173:5173
    develop:
      watch:
        - action: sync
          path: .
          target: /usr/src/app
          ignore:
            - node_modules
        - action: rebuild
          path: package.json
